body {
    display: block;
    position: relative;
}

header h1 {
    margin-left: 100px;
}

hr {
    width: 90%;
    margin-top: 20px;
}

p {
    width: 60%;
    overflow: auto;
    text-align: center;
    margin: 0 auto 0 auto;

}

.placeLarge {
    float: left;
    margin-left: 100px;
    text-align: left;
}

.date {
    float: right;
    margin-right: 100px;
    display: block;
}

.position {
    float: left;
    margin-left: 150px;
}

.aoe {
    margin-right: 100px;
    width: calc(4.91%);
    float: right;
}

.comcast {
    margin-right: 100px;
    float: right;
    width: calc(8%);
}

.upenn {
    margin-right: 100px;
    width: calc(6%);
    float: right;
}

.placeWithImg {
    width: 60%;
    float: left;
    margin-left: 100px;
    text-align: left;
}

a {
    width:100%;
    height: auto;
    color: black;
}

.title {
    width: 100%;
    height: auto;
    margin:auto;
    overflow: hidden;
    position: relative;
    display: block;
}

.description {
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: block;
    text-align: center;
}