body {
    text-align: center;
}

header h1 {
    margin-left: 100px;
}

img {
    width: 100%;
    height: auto;
    margin-top: 0px;
    opacity: 0.8;
}

p {
    position: absolute;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align: bottom;
    width: 100%;
    text-align: center;
    top: 50%;
    color: white;
}