img {
    width: 100%;
    vertical-align: bottom;
    transition: all 1.5s ease;
}

.item {
    display: inline-table;
    width: calc(25%);
    margin: 0;
    overflow: hidden;
    font-size: 0;
    vertical-align: bottom;
}   

img:hover {;
    transform: scale(1.2);
   /** -webkit-transform: scale(1.2); /** Chrome & Safari **/
    /**-o-transform: scale(1.2); /** Opera **/
    /**-moz-transform: scale(1.2);**/ /** Firefox **/
}

.figure {
    margin:0;
    padding: 0;
    border: 0;
    width: 100%;
}

header h1 {
    margin-left: 100px;
}

