<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link rel="stylesheet" href="app/css/photos.css">
</head>
<body>
    <div class="figure">
        <h2>Mount Holy Cross 14,005 ft - August, 2016</h2>
        <div class="item" ng-repeat="img in holyCross">
            <img ng-src={{img}}>
        </div>
    </div>
    <div class="figure">
        <h2>Grays 14,270 ft – Torreys 14,267 ft - July, 2016</h2>
        <div class="item" ng-repeat="img in grays">
            <img ng-src={{img}}>
        </div>
    </div>
    <div class="figure">
        <h2>Conundrum Hot Springs 11,222 ft - July, 2016</h2>
        <div class="item" ng-repeat="img in conundrum">
            <img ng-src={{img}}>
        </div>
    </div>
    <div class="figure">
        <h2>Mt Elbert 14,439 ft - July, 2016</h2>
        <div class="item" ng-repeat="img in albert"><img ng-src={{img}}>
        </div>
    </div>
    <div class="figure">
        <h2>Mesa Verde 8,572 ft - July, 2016</h2>
        <div class="item" ng-repeat="img in mesaVerde">
            <img ng-src={{img}}>
        </div>
    </div>
    <div class="figure">
        <h2>Sedona 4,327 ft - June, 2016</h2>
        <div class="item" ng-repeat="img in arizona">
            <img ng-src={{img}}>
        </div>
    </div>
    <div class="figure">
        <h2>Crested Butte 9,920 ft - June, 2016</h2>
        <div class="item" ng-repeat="img in crestedButte">
            <img ng-src={{img}}>
        </div>
    </div>
    <div >
        <h2>Twin Sisters 11,428 ft June, 2016</h2>
        <div class="item" ng-repeat="img in twinSisters">
            <img ng-src={{img}}>
        </div>
    </div>
    <div class="figure">
        <h2>Crater Lake 10,076 ft - May, 2016</h2>
        <div class="item" ng-repeat="img in aspen">
            <img ng-src={{img}}>
        </div>
    </div>


</body>
</html>