<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link rel="stylesheet" href="app/css/photos.css">
</head>
<body>
    <figure>
        <h2>Conundrum Hot Springs July, 2016</h2>
        <div class="item" ng-repeat="img in conundrum">
            <img ng-src={{img}}>
        </div>
    </figure>
    <figure>
        <h2>Mt Elbert July, 2016</h2>
        <div class="item" ng-repeat="img in albert"><img ng-src={{img}}>
        </div>
    </figure>
    <figure >
        <h2>Mesa Verde July, 2016</h2>
        <div class="item" ng-repeat="img in mesaVerde">
            <img ng-src={{img}}>
        </div>
    </figure>
    <figure >
        <h2>Arizona June, 2016</h2>
        <div class="item" ng-repeat="img in arizona">
            <img ng-src={{img}}>
        </div>
    </figure>
    <figure >
        <h2>Crested Butte June, 2016</h2>
        <div class="item" ng-repeat="img in crestedButte">
            <img ng-src={{img}}>
        </div>
    </figure>
    <figure >
        <h2>Twin Sisters Hike June, 2016</h2>
        <div class="item" ng-repeat="img in twinSisters">
            <img ng-src={{img}}>
        </div>
    </figure>
    <figure >
        <h2>Aspen May, 2016</h2>
        <div class="item" ng-repeat="img in aspen">
            <img ng-src={{img}}>
        </div>
    </figure>


</body>
</html>